# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Airflow
airflow.db
airflow.cfg
airflow-webserver.pid

# Logs
logs/
*.log

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db